[submodule "haskell-ipld"]
	path = ipld
	url = git@github.com:joelburget/haskell-ipld.git
[submodule "binary-serialise-cbor"]
	path = binary-serialise-cbor
	url = git@github.com:well-typed/binary-serialise-cbor.git
